cachetools
decorator>=4.0.2,<5.0
healpy
hydra-core
ipywidgets
lightning
matplotlib
multimethod
numpy<2
open3d
opencv-python
opt_einsum
pillow
python-dotenv
python-magic
pyyaml
rich
scipy
tensorboardX
toml
torch==2.11.0
torch-scatter==2.1.2
torchvision
wandb
xformers==0.0.35
